<div id="dashboard-page">
  <div class="row">
    <!-- side nav -->
    <div class="col s2">
      <%- include('sidenav')%>
    </div>
    <div class="col s10">
      hello
    </div>
  </div>
</div>
